<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4C3C32;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Avatar -->
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                        id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/images/logoColorCircle.jpg" class="rounded-circle" height="25"
                            alt="Black and White Portrait of a Man" loading="lazy" />
                    </a>
                    {{!-- <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" href="#">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Logout</a>
                        </li>
                    </ul> --}}
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/assets/images/construction.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="container text-center">
                <img src="/assets/images/logoBlanco.png" class="img-fluid imgGradoCeroBlanco" alt="Responsive image">
            </div>

            {{!-- <div class="d-flex h-100 text-center align-items-center">
                <div class="text-white solTot">
                    <h1 class="display-3 solTot2" style="font-size: 2.5rem;">Soluciones TOTALES</h1>
                    <h3>En construcción</h3>
                </div>
            </div> --}}
        </div>
    </header>
    <div class="sloganDiv">
        <div class="container">
            <div class="row">
                <h3 class="text-center text-white">
                    Construímos tus más grandes ideas.
                </h3>
            </div>
        </div>
    </div>
    <br>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center text-lg-start">
                <style>
                    .cascading-right {
                        margin-right: -50px;
                    }

                    @media (max-width: 991.98px) {
                        .cascading-right {
                            margin-right: 0;
                        }
                    }
                </style> <!-- Jumbotron -->
                <div class="container py-4 containerGradoCeroSomos">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="card cascading-right cardSomos"
                                style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                                <div class="card-body py-5 px-md-5 shadow-5">
                                    <h3 class="fw-bold">Grado Cero</h3>
                                    <hr>
                                    <h5 class="text-primary mb-5">Confianza, Calidad & Atención personalizada</h5>
                                    <p class="fw-bold">Es una constructora responsable y comprometida que ofrece una
                                        amplia gama de servicios que van desde el diseño, planeación, gestoría de
                                        proyectos, consultoría de arquitectura, construcción de obras públicas y
                                        privadas, construcción de estructuras e instalaciones. </p>
                                    <hr>
                                    <h5 class="text-primary mb-5">Calidad en nuestros servicios</h5>
                                    <p class="fw-bold mb-4">La calidad es nuestro pilar
                                        mas importante, estamos comprometidos a dar los mejores resultados y estar en
                                        constante mejora, innovando siempre en nuestros servicios. Nuestros diseños son
                                        personalizados con los mejores arquitectos e ingenieros civiles.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0"> <img src="/assets/images/sparks.jpg"
                                class="w-100 rounded-5 shadow-4" alt="" aria-controls="#picker-editor"> </div>
                    </div>
                </div> <!-- Jumbotron -->
            </section>
        </section>
        <!---->
    </div>
    <div class="misionVisionDiv bg-dark">
        <div class="container text-white">
            <div class="row text-center">
                <div class="col-md-6">
                    <h3>Misión</h3>
                    <hr>
                    <p>Estar a la vanguardia y en constante renovación para otorgarle a nuestros clientes servicios de
                        calidad y a la medida.</p>
                </div>
                <div class="col-md-6">
                    <h3>Visión</h3>
                    <hr>
                    <p>Ser un ejemplo en el sector de la construcción logrado la confianza de cada uno de nuestros
                        clientes. Nuestro equipo de profesionales busca las mejores soluciones para la construcción de
                        proyectos.</p>
                </div>
            </div>
        </div>
    </div>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <h3 class="text-black">Lo que ofrecemos:</h3>
                <hr>
                <style>
                    /* Map settings */
                    .map-container-2 {
                        height: 500px;
                    }

                    .map-container-2 iframe {
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                    }

                    .rounded-t-5 {
                        border-top-left-radius: 0.5rem;
                        border-top-right-radius: 0.5rem;
                    }

                    @media (min-width: 992px) {
                        .rounded-tr-lg-0 {
                            border-top-right-radius: 0;
                        }

                        .rounded-bl-lg-5 {
                            border-bottom-left-radius: 0.5rem;
                        }
                    }
                </style>
                <div class="card mb-3">
                    <div class="row g-0 d-flex align-items-center">
                        <div class="col-lg-4 d-none d-lg-flex">
                            <div class="map-container-2 w-100 mb-4 mb-lg-0">
                                <img src="/assets/images/arqcero.jpg" class="img-fluid " alt="Responsive image">
                                {{!-- <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d481728.804584038!2d-99.42380635078402!3d19.390519038362424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0026db097507%3A0x54061076265ee841!2sCiudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1648658082049!5m2!1ses-419!2smx"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe> --}}
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body py-5 px-md-5">
                                <div class="row gx-lg-5">
                                    <div class="col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0">
                                                <div class="p-3 bg-dark rounded-4 shadow-2-strong"> <i
                                                        class="fa-solid fa-lg text-white fa-person-digging"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <p class="fw-bold mb-1">Construcción de obras </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0">
                                                <div class="p-3 bg-dark rounded-4 shadow-2-strong"> <i
                                                        class="fa-solid fa-lg text-white fa-helmet-safety"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <p class="fw-bold mb-1">Infraestructura urbana y vial</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0">
                                                <div class="p-3 bg-dark rounded-4 shadow-2-strong"> <i
                                                        class="fas fa-newspaper fa-lg text-white fa-fw"
                                                        aria-controls="#picker-editor"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <p class="fw-bold mb-1">Gestoría de proyectos</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0">
                                                <div class="p-3 bg-dark rounded-4 shadow-2-strong"> <i
                                                        class="fa-solid fa-lg text-white fa-brush"></i> </div>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <p class="fw-bold mb-1">Acabados y recubrimiento</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0">
                                                <div class="p-3 bg-dark rounded-4 shadow-2-strong"> <i
                                                        class="fa-solid fa-lg text-white fa-paint-roller"></i> </div>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <p class="fw-bold mb-1">Remodelación y mantenimiento</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0">
                                                <div class="p-3 bg-dark rounded-4 shadow-2-strong"> <i
                                                        class="fa-solid fa-lg text-white fa-building"></i> </div>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <p class="fw-bold mb-1">Estructuras</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0">
                                                <div class="p-3 bg-dark rounded-4 shadow-2-strong"> <i
                                                        class="fa-solid fa-trowel-bricks fa-lg text-white"></i> </div>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <p class="fw-bold mb-1">Instalación y albañilería</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0">
                                                <div class="p-3 bg-dark rounded-4 shadow-2-strong"> <i
                                                        class="fa-solid fa-lg text-white fa-mound"></i> </div>
                                            </div>
                                            <div class="flex-grow-1 ms-4">
                                                <p class="fw-bold mb-1">Compra venta de material de construcción</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div id="servicios">
        <!-- Start your project here-->

        <div id="preview" class="preview">
            <div style="display: none;"></div>
            <div>
                <div data-draggable="true" style="position: relative;">
                    <!---->
                    <!---->
                    <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                        <section class="mb-10 overflow-hidden">
                            <!-- Background image -->
                            <div class="px-4 py-5 px-md-5 text-center bg-image"
                                style="background-image: url(/assets/images/orange.jpg); height: 500px; background-size: cover; background-position: 50% 50%;"
                                aria-controls="#picker-editor">
                                <div class="mask" style="background-color: rgba(0, 0, 0, 0.507)">
                                    <div class="container h-100">
                                        <div class="row d-flex justify-content-center align-items-center h-100">
                                            <div class="col-lg-10">
                                                <div class="text-white pb-5">
                                                    <h1 class="my-md-5 mb-4 px-5 display-3 fw-bold ls-tight">
                                                        <span>Nuestros</span> <br> <span class="">Servicios&nbsp;</span>
                                                    </h1> <a
                                                        class="btn  btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2"
                                                        href="#contacto" role="button"
                                                        aria-controls="#picker-editor">Contacto</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=""
                                style=" height: 30px; margin-top: -30px; transform: scale(2); transform-origin: top center; color: #fff; ">
                                <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
                                        fill="currentColor"></path>
                                </svg>
                            </div> <!-- Background image -->
                        </section>
                    </section>
                    <!---->
                </div>
                <div data-draggable="true" style="position: relative;">
                    <!---->
                    <!---->
                    <section draggable="false" class="container pt-5 procesoTrabajoDiv" data-v-271253ee="">
                        <section class="mb-10">
                            {{!-- <h2 class="fw-bold mb-5 text-center">Nuestro proceso de reinvención</h2> <br> --}}
                            <div class="row gx-lg-5 mb-5 align-items-center">
                                <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/4.jpg"
                                        class="w-100 shadow-4-strong rounded-4 mb-4" alt=""
                                        aria-controls="#picker-editor">
                                </div>
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <h3 class="fw-bold">Remodelación</h3>
                                    <hr>

                                    <p class="text-black">Reinventamos los espacios con material de la más alta calidad,
                                        estamos convencidos de que los espacios pueden recobrar vida, ser espacios
                                        inteligentes y sobre todo seguir manteniendo la seguridad de las construcciones.
                                        Hacemos mantenimientos preventivos y preventivos.</span></p>
                                    <a class="btn ch-bg  btn-dark" href="#contacto"  role="button"
                                        aria-controls="#picker-editor">Contacto</a>
                                </div>
                            </div>
                            <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                                <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/5.jpg"
                                        class="w-100 shadow-4-strong rounded-4 mb-4" alt=""
                                        aria-controls="#picker-editor">
                                </div>
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <h3 class="fw-bold">Asesoría arquitectónica</h3>
                                    <hr>
                                    <p class="text-black">Brindamos servicios de asesoría y gestión de todo el proceso
                                        de construcción, desde la planeación, diseño, presupuesto, administración de
                                        personal, trámite de permisos, licencias de construcción, topografía, mecánica
                                        de suelos y calculo estructural. Hasta la entrega final de la obra y
                                        construcción. </p>
                                    <a class="btn ch-bg  btn-dark" href="#contacto"  role="button"
                                        aria-controls="#picker-editor">Contacto</a>
                                </div>
                            </div>
                            <div class="row gx-lg-5 mb-5 align-items-center">
                                <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/6.jpg"
                                        class="w-100 shadow-4-strong rounded-4 mb-4" alt=""
                                        aria-controls="#picker-editor">
                                </div>
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <h3 class="fw-bold">Construcción</h3>
                                    <hr>
                                    <p class="text-black">Tenemos una amplia experiencia en la construcción de obras,
                                        ya sean civiles, públicas, residenciales y comerciales. Nuestros diseños siempre
                                        están a la vanguardia buscando que sean funcionales utilizando los mejores
                                        materiales y métodos constructivos. </p>
                                    <a class="btn ch-bg  btn-dark" role="button" aria-controls="#picker-editor"
                                        href="#contacto" >Contacto</a>
                                </div>
                            </div>
                            <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                                <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/7.jpg"
                                        class="w-100 shadow-4-strong rounded-4 mb-4" alt=""
                                        aria-controls="#picker-editor">
                                </div>
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <h3 class="fw-bold">Infraestructura</h3>
                                    <hr>
                                    <p class="text-black">Construimos sistemas de redes de energía, fuentes de
                                        abastecimientos, plantas de tratamiento de aguas, puentes y vías con
                                        pavimentaciones de distintos materiales. </p>
                                    <a class="btn ch-bg  btn-dark" href="#contacto"  role="button"
                                        aria-controls="#picker-editor">Contacto</a>
                                </div>
                            </div>
                            <div class="row gx-lg-5 mb-5 align-items-center">
                                <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/8.jpg"
                                        class="w-100 shadow-4-strong rounded-4 mb-4" alt=""
                                        aria-controls="#picker-editor">
                                </div>
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <h3 class="fw-bold">Acabados</h3>
                                    <hr>
                                    <p class="text-black">Damos servicios en todos los acabados sobre superficies en
                                        obra negra para darle que las construcciones tengan un aspecto habitable con un
                                        terminado de calidad. </p>
                                    <a class="btn ch-bg  btn-dark" role="button" aria-controls="#picker-editor"
                                        href="#contacto" >Contacto</a>
                                </div>
                            </div>
                            <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                                <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/9.jpg"
                                        class="w-100 shadow-4-strong rounded-4 mb-4" alt=""
                                        aria-controls="#picker-editor">
                                </div>
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <h3 class="fw-bold">Instalaciones</h3>
                                    <hr>
                                    <p class="text-black">Somo responsables de instalar la energía eléctrica desde el
                                        punto de suministro hasta los equipos que la utilicen. </p>
                                    <a class="btn ch-bg  btn-dark" href="#contacto"  role="button"
                                        aria-controls="#picker-editor">Contacto</a>
                                </div>
                            </div>
                            <div class="row gx-lg-5 mb-5 align-items-center">
                                <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/10.jpg"
                                        class="w-100 shadow-4-strong rounded-4 mb-4" alt=""
                                        aria-controls="#picker-editor">
                                </div>
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <h3 class="fw-bold">Estructuras</h3>
                                    <hr>
                                    <p class="text-black">Tenemos una amplia experiencia en la elaboración, fabricación
                                        y
                                        montaje de estructuras metálicas desde obras pequeñas hasta grandes obras como
                                        son naves Industriales o edificios de acero. </p>
                                    <a class="btn ch-bg  btn-dark" role="button" aria-controls="#picker-editor"
                                        href="#contacto" >Contacto</a>
                                </div>
                            </div>
                        </section>
                    </section>
                    <!---->
                </div>
            </div>
        </div>
    </div>
    <div id="contacto" class="contactanos">
            
    </div>
    <div class="correoGrado">
        <div class="container text-center">
            <h3></h3>
        </div>
    </div>
    <div class="divContacto">
        <div class="container">
            <div >
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                            <!-- Name input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form4Example1" class="form-control formInput" name="name" required />
                                <label class="form-label" for="form4Example1">Nombre</label>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="form4Example2" class="form-control formInput" name="email" required />
                                <label class="form-label" for="form4Example2">Correo Electrónico</label>
                            </div>

                            <!-- Message input -->
                            <div class="form-outline mb-4">
                                <textarea class="form-control formInput" id="form4Example3" rows="4" name="message" required></textarea>
                                <label class="form-label" for="form4Example3">Mensaje</label>
                            </div>
                           <p class="text-center">servicios@gradoceroconstructora.com</p>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4"
                                    required />
                                <label class="form-check-label" for="form4Example4">
                                    Acepto política de privacidad  
                                </label> 
                               
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-light mb-4">Enviar</button>
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>